!!! XML

%html

  %head
    %title irchive.org
    %link{ :rel => :stylesheet, :href => "/css/screen" }
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js' }
    %script{ :src => '/scripts/ajax_queue.js' }
    %script{ :src => '/scripts/jquery.periodicalupdater.js' }
    %script{ :src => '/scripts/tsort.js' }
    %script{ :src => '/scripts/irchive.js' }
    
  %body
    %ul#channels
    %ul#activity